@model IEnumerable<GameVm>

<div class="row mb-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Filters</h5>
                <form asp-action="Index" asp-controller="Games" method="get" class="form-inline">
                    <div class="form-group mr-3">
                        <label for="genre" class="mr-2">Genre:</label>
                        <select id="genre" name="genre" class="form-control">
                            <option value="">All Genres</option>
                            @foreach (var genre in ViewBag.genres)
                            {
                                <option value="@genre.Genre_Name">@genre.Genre_Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="publisher" class="mr-2">Publisher:</label>
                        <select id="publisher" name="publisher" class="form-control">
                            <option value="">All Publishers</option>
                            @foreach (var publisher in ViewBag.publishers)
                            {
                                <option value="@publisher.Publisher_Name">@publisher.Publisher_Name</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary ml-3">Apply Filter</button>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Tools</th>
            <th>Game name</th>
            <th>Genre</th>
            <th>Publisher</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            @if (!string.IsNullOrEmpty(game.Genre))
            {
                <tr>
                    <td>
                    <a href="@Url.Action("Edit", new { id = game.Id })" class="btn btn-primary btn-sm" title="Edit">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a href="@Url.Action("Details", new { id = game.Id })" class="btn btn-info btn-sm" title="Details">
                        <i class="bi bi-info-circle"></i>
                    </a>
                    <a href="@Url.Action("Delete", new { id = game.Id })" class="btn btn-danger btn-sm" title="Delete">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
                <td>@game.Game_Name</td>
                <td>@game.Genre</td>
                <td>@game.Publisher</td>
            </tr>
            }
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary btn-sm" title="Create">
    Create
</a>
